In [1]:
import numpy as np
import pandas as pd

In [2]:
#read CSV file containing data

df = pd.read_csv('deliveries.csv')

In [5]:
#to check all the columns in the dataframe

df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'batsman_runs', 'extra_runs', 'total',
       'player_dismissed', 'dismissal_kind', 'fielder'],
      dtype='object')

In [6]:
#to find number of rows in the data

len(df)

929563

In [12]:
#to find count of different number of innings 

df['inning'].value_counts()

1    503918
2    425645
Name: inning, dtype: int64

In [19]:
df1 = (df[df['inning'] == 1])

In [28]:
df1.head(20)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,wide_runs,bye_runs,legbye_runs,noball_runs,batsman_runs,extra_runs,total,player_dismissed,dismissal_kind,fielder
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,Mohammad Amir,1,0,0,0,0,1,1,NaN,NaN,NaN
5,1,1,Australia,Pakistan,1,6,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Australia,Pakistan,1,7,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
7,1,1,Australia,Pakistan,2,1,TM Head,DA Warner,Mohammad Hafeez,0,0,0,0,0,0,0,NaN,NaN,NaN
8,1,1,Australia,Pakistan,2,2,TM Head,DA Warner,Mohammad Hafeez,0,0,0,0,1,0,1,NaN,NaN,NaN
9,1,1,Australia,Pakistan,2,3,DA Warner,TM Head,Mohammad Hafeez,0,0,0,0,0,0,0,NaN,NaN,NaN
10,1,1,Australia,Pakistan,2,4,DA Warner,TM Head,Mohammad Hafeez,0,0,0,0,0,0,0,NaN,NaN,NaN
11,1,1,Australia,Pakistan,2,5,DA Warner,TM Head,Mohammad Hafeez,0,0,0,0,0,0,0,NaN,NaN,NaN
12,1,1,Australia,Pakistan,2,6,DA Warner,TM Head,Mohammad Hafeez,0,0,0,0,0,0,0,NaN,NaN,NaN
13,1,1,Australia,Pakistan,3,1,TM Head,DA Warner,Mohammad Amir,0,0,0,0,1,0,1,NaN,NaN,NaN
14,1,1,Australia,Pakistan,3,2,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
15,1,1,Australia,Pakistan,3,3,DA Warner,TM Head,Mohammad Amir,0,0,0,0,1,0,1,NaN,NaN,NaN
16,1,1,Australia,Pakistan,3,4,TM Head,DA Warner,Mohammad Amir,0,0,0,0,1,0,1,NaN,NaN,NaN
17,1,1,Australia,Pakistan,3,5,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
18,1,1,Australia,Pakistan,3,6,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
19,1,1,Australia,Pakistan,4,1,TM Head,DA Warner,Mohammad Hafeez,0,0,0,0,0,0,0,NaN,NaN,NaN

In [22]:
df1.batting_team.value_counts()

Australia                   64145
Sri Lanka                   61096
India                       49694
England                     47572
Pakistan                    44898
South Africa                44797
New Zealand                 43456
West Indies                 36716
Bangladesh                  30396
Zimbabwe                    23312
Ireland                     12720
Afghanistan                 12266
Scotland                     8530
United Arab Emirates         3989
Kenya                        3192
Canada                       2722
Netherlands                  2656
Bermuda                      2207
United States of America     2180
Papua New Guinea             2128
Namibia                      1378
Hong Kong                    1189
Nepal                        1130
Asia XI                       934
Oman                          615
Name: batting_team, dtype: int64

In [ ]:
len(df1.batting_team.value_counts())

In [25]:
df1.bowling_team.value_counts()

India                       61661
England                     50792
South Africa                46364
Pakistan                    46359
Sri Lanka                   45697
West Indies                 44634
Australia                   43970
New Zealand                 40101
Bangladesh                  33057
Zimbabwe                    28654
Ireland                     17914
Afghanistan                  9232
Scotland                     5646
United Arab Emirates         5533
Canada                       4876
Kenya                        4592
Netherlands                  3741
Oman                         2695
Papua New Guinea             2109
Hong Kong                    1926
United States of America     1172
Bermuda                       948
Africa XI                     934
Nepal                         683
Namibia                       628
Name: bowling_team, dtype: int64

In [26]:
len(df1.bowling_team.value_counts())

25

In [37]:
#to get data of first innings where batting team is Australia and Bowling team is Pakistan

batsman = df1['batting_team'] == 'Australia'
bowler = df1['bowling_team'] == 'Pakistan'
match_id = df1['match_id'] == 1

first_match = df1[batsman & bowler & match_id]

In [39]:
first_match

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,wide_runs,bye_runs,legbye_runs,noball_runs,batsman_runs,extra_runs,total,player_dismissed,dismissal_kind,fielder
0,1,1,Australia,Pakistan,1,1,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Australia,Pakistan,1,2,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Australia,Pakistan,1,3,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
3,1,1,Australia,Pakistan,1,4,DA Warner,TM Head,Mohammad Amir,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Australia,Pakistan,1,5,DA Warner,TM Head,Mohammad Amir,1,0,0,0,0,1,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,1,1,Australia,Pakistan,50,2,MS Wade,B Stanlake,Hasan Ali,0,0,0,0,4,0,4,NaN,NaN,NaN
306,1,1,Australia,Pakistan,50,3,MS Wade,B Stanlake,Hasan Ali,0,0,0,0,0,0,0,NaN,NaN,NaN
307,1,1,Australia,Pakistan,50,4,MS Wade,B Stanlake,Hasan Ali,0,0,0,0,0,0,0,NaN,NaN,NaN
308,1,1,Australia,Pakistan,50,5,MS Wade,B Stanlake,Hasan Ali,0,0,0,0,2,0,2,NaN,NaN,NaN
309,1,1,Australia,Pakistan,50,6,MS Wade,B Stanlake,Hasan Ali,0,0,0,0,1,0,1,NaN,NaN,NaN